.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
}

.home-left, .home-right{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.table-fingerprint{
    text-align: right;
    color: rgba(108,117,125,.6);
    margin: 0 .25rem .25rem 0;
    font-family: "archia";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px !important;
    margin-top: 20px;
}
